@import url('https://fonts.googleapis.com/css2?family=Tangerine&family=Pirata+One&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Pirata One', system-ui;
  background-color: #000;
}

.frame {
  width: 100%;
  height: 100vh;
  background: url('/src/assets/Flores1.webp') no-repeat center center;
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.pirata-text {
  font-size: 6vw; 
  color: #e50914; 
  text-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
  line-height: 1.3;
  animation: glow 10s infinite alternate;
  max-width: 90%; 
  margin-bottom: 20px;
}

.message {
  font-family: 'Tangerine', cursive;
  font-size: 3vw;
  color: #fff;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(124, 52, 52, 0.6);
  }
  to {
    text-shadow: 0 0 25px rgb(255, 104, 104), 0 0 40px rgba(250, 124, 124, 0.8);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .pirata-text {
    font-size: 8vw;
  }
  .message {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {
  .pirata-text {
    font-size: 10vw;
  }
  .message {
    font-size: 6vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
